<% layout('layouts/boilerplate') -%>

<html lang="en">
  <style>
    footer {
      position: fixed;
      bottom: 0%;
      width: 100%;
    }
  </style>
</html>

<div class="row">
    <div class="col-md-5 mx-auto">
        <%- include('../partials/flash')  %> 
        <div class="card p-3 border border-secondary m-2">
            <h1 class="display-6 text-center">Login</h1>
            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" name="username" required id="username" placeholder="Username">
                    <div class="invalid-feedback">
                      Please provide an username.
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" name="password" required id="password" placeholder="Password">
                    <div class="invalid-feedback">
                      Please provide a password.
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-block btn-small mb-2">Login</button>
                <p>Don't have an account yet ?<a href="/register" class="ms-2">SignUp</a> </p> 
            </form>
        </div>
    </div>
</div>

<!-- Footer -->

<div class="container-fluid bg-dark">
  <div class="row p-5">
      <div class="col-md-4 text-white">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
              <li>Email: info@example.com</li>
              <li>Phone: +1 (123) 456-7890</li>
          </ul>
      </div>

      <div class="col-md-4">
          <h5 class="text-white">Quick Links</h5>
          <ul class="list-unstyled">
              <li><a href="#">Home</a></li>
              <li><a href="#">Shop</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>

      <div class="col-md-4">
          <h5 class="text-white">Follow Us</h5>
          <ul class="list-unstyled">
              <li><a href="#" class="text-light">Facebook</a></li>
              <li><a href="#" class="text-light">Twitter</a></li>
              <li><a href="#" class="text-light">Instagram</a></li>
          </ul>
      </div>
  </div>
</div>




