<% layout('layouts/boilerplate') -%>

<div class="row">
    <div class="col-md-6 mx-auto border border-secondary p-4 mb-5" style="border-radius: 10px;">
        <%- include('../partials/flash')  %> 
        <h1 class="display-6 text-center">Sign Up</h1>
        <form action="/register" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Please provide an username.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    Please provide an email.
                </div>
            </div>
            <div class="mb-3">
                <p class="mb-2">Want to register as ? </p>
                <div class="mx-2">
                    <input class="form-check-input mt-0" type="radio" name="role" required value="seller" id="seller" aria-label="Radio button for following text input">
                    <label class="form-label" for="seller">Seller</label>
                </div>
                <div class="mx-2">
                    <input class="form-check-input mt-0" type="radio" required name="role" value="buyer"  id="buyer" aria-label="Radio button for following text input">
                    <label class="form-label" for="buyer">Buyer</label>
                </div>
               
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" required id="password" placeholder="Password">
                <div class="invalid-feedback">
                    Please provide a password.
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-small mb-2">SignUp</button>
        </form>
    </div>
</div>

<!-- Footer -->

<%- include('../partials/footer') %>







