

<div class="container-fluid bg-dark">
    <div class="row p-4">
        <div class="col-md-4 text-white">
            <h5>Contact Us</h5>
            <ul class="list-unstyled">
                <li>Email: info@example.com</li>
                <li>Phone: +1 (123) 456-7890</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5 class="text-white">Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h5 class="text-white">Follow Us</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-light">Facebook</a></li>
                <li><a href="#" class="text-light">Twitter</a></li>
                <li><a href="#" class="text-light">Instagram</a></li>
            </ul>
        </div>
    </div>
</div>