*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

/* .col-md-3 {
    box-sizing: border-box; /* Include padding and border in the element's total width 
    width: 25%; /* Set the width for demonstration purposes 
    float: left; /* Float the columns to prevent them from stacking 
}

.col-md-3 {
    border: 2px solid #7fc85b; /* Add a border to the columns 
    margin: 0; /* Reset margin to avoid spacing issues 
    padding: 10px;
    border-radius: 10px;
} */

a{
    text-decoration: none;
}

body::-webkit-scrollbar{
    width: 0%;
}

.banner-features{
    border:2px solid black;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.banner-features:hover{
    box-shadow: 2px 0px 16px black;
}

.bg-1{
    text-align: center;
    font-size: medium;
    margin-top: 8px;
}

/*  Product CSS */

/* Product category */

.product-category a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.product-category a:hover {
    color: #e44d26;
}

h2 a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

h2 a:hover {
    color: #e44d26;
}

/* Product price CSS */

.product-price {
    margin-bottom: 10px;
}

.product-price :first-child {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.old-price {
    text-decoration: none;
    text-decoration: line-through;
    margin-left: 10px;
}

.discount{
    color:green;
    margin-left: 10px;
}

.banner-content{
    position:absolute;
    top: 25%;
    left:20%;
}

.nav-product a {
    background-color: #47c8c8f7;
    color:white;
}

.product:hover{
    box-shadow: 3px 0px 15px grey;
}








